<style>
.analyse{
        padding-left:20px;
        padding-right:25px;
        padding-bottom:20px;
        padding-top:25px;
	color:#c1121f;
	font-color:#780000;
	border-radius:15px;
        }
p
{
      color:#c1121f;
      font-family:tahoma;
      text-align:center;
      font-size:20px;
}
input
{	
	display:block;
	margin:10px auto;
	padding:8px;
        text-align:center;
}
body
{
  background-color:#780000;
}
form
{
   text-align:center;
   margin-top:100px;
}
</style>
